In [4]:
import csv
import MySQLdb

input_file='c:/data/db/input.csv'
conn=MySQLdb.connect(host='localhost', port=3306, db='my_suppliers', user='web', passwd='1234',charset='utf8')
cursor=conn.cursor()
sql="delete from suppliers"
cursor.execute(sql)
conn.commit()
file_reader=csv.reader(open(input_file,'r'),delimiter=',')
header = next(file_reader)
for row in file_reader:
    data=[]
    for idx in range(len(header)):
        data.append(row[idx])
    print(data)
    cursor.execute('INSERT INTO Suppliers VALUES(%s,%s,%s,%s,%s)',data)
conn.commit()
cursor.execute("SELECT * FROM Suppliers")
rows=cursor.fetchall()
for row in rows:
    output = []
    for idx in range(len(row)):
        output.append(str(row[idx]))
    print(output)

['A', '001-1001', '2341', '500000', '2014-01-20']
['A', '001-1001', '2341', '500000', '2014-01-20']
['A', '001-1001', '5467', '750000', '2014-01-20']
['A', '001-1001', '5467', '750000', '2014-01-20']
['B', '50-9501', '7009', '250000', '2018-01-30']
['B', '50-9501', '7009', '250000', '2018-01-30']
['B', '50-9505', '6650', '125000', '2017-02-03']
['B', '50-9505', '6650', '125000', '2017-02-03']
['C', '920-4803', '3321', '615000', '2017-02-03']
['C', '920-4804', '3321', '615000', '2017-02-10']
['C', '920-4805', '3321', '615000', '2017-02-17']
['C', '920-4806', '3321', '615000', '2017-02-24']
['A', '001-1001', '2341', '500000.0', '2014-01-20']
['A', '001-1001', '2341', '500000.0', '2014-01-20']
['A', '001-1001', '5467', '750000.0', '2014-01-20']
['A', '001-1001', '5467', '750000.0', '2014-01-20']
['B', '50-9501', '7009', '250000.0', '2018-01-30']
['B', '50-9501', '7009', '250000.0', '2018-01-30']
['B', '50-9505', '6650', '125000.0', '2017-02-03']
['B', '50-9505', '6650', '125000.0', '2017-02-03']
['C', '920-4803', '3321', '615000.0', '2017-02-03']
['C', '920-4804', '3321', '615000.0', '2017-02-10']
['C', '920-4805', '3321', '615000.0', '2017-02-17']
['C', '920-4806', '3321', '615000.0', '2017-02-24']

In [8]:
output_file='c:/data/db/mysql_output.csv'
conn=MySQLdb.connect(host='localhost', port=3306, db='my_suppliers', user='web', passwd='1234',charset='utf8')
cursor=conn.cursor()
filewriter=csv.writer(open(output_file,'w'), delimiter=',')
header=['Supplier Name','Invoice Number','Part Number','Cost','Purchase Date']
filewriter.writerow(header)
cursor.execute('SELECT * FROM Suppliers WHERE cost > 500000')
rows=cursor.fetchall()
for row in rows:
    filewriter.writerow(row)

In [9]:
sql='UPDATE Suppliers SET Cost=%s, Purchase_Date=%s WHERE Supplier_Name=%s'
cursor.execute(sql,(777,'2014-01-20','A'))
conn.commit()
cursor.execute("SELECT * FROM Suppliers")
rows=cursor.fetchall()
for row in rows:
    output=[]
    for idx in range(len(row)):
        output.append(str(row[idx]))
    print(output)

['A', '001-1001', '2341', '777.0', '2014-01-20']
['A', '001-1001', '2341', '777.0', '2014-01-20']
['A', '001-1001', '5467', '777.0', '2014-01-20']
['A', '001-1001', '5467', '777.0', '2014-01-20']
['B', '50-9501', '7009', '250000.0', '2018-01-30']
['B', '50-9501', '7009', '250000.0', '2018-01-30']
['B', '50-9505', '6650', '125000.0', '2017-02-03']
['B', '50-9505', '6650', '125000.0', '2017-02-03']
['C', '920-4803', '3321', '615000.0', '2017-02-03']
['C', '920-4804', '3321', '615000.0', '2017-02-10']
['C', '920-4805', '3321', '615000.0', '2017-02-17']
['C', '920-4806', '3321', '615000.0', '2017-02-24']