In [1]:
import math
def abs_sign(a):
    if a>=0:
        return a
    else:
        return -a

def abs_square(a):
    b=a*a
    return math.sqrt(b)

print(abs_sign(5))
print(abs_sign(-3))
print()
print(abs_square(5))
print(abs_square(-3))

5
3

5.0
3.0

In [2]:
def sum_sq(n):
    s=0
    for i in range(1,n+1):
        s=s+i
    return s
print(sum_sq(10))
print(sum_sq(100))

55
5050

In [3]:
def sum_n(n):
    return n*(n+1)//2
print(sum_n(10))
print(sum_n(100))

55
5050

In [4]:
def sum_sql(n):
    s=0
    for i in range(1,n+1):
        s=s+i*i
    return s
print(sum_sql(10))
print(sum_sql(100))

385
338350

In [6]:
def sum_sq2(n):
    return n*(n+1) *(2*n+1)//6
print(sum_sq2(10))
print(sum_sq2(100))

385
338350

In [7]:
def find_max(a):
    n=len(a)
    max_v=a[0]
    for i in range(1,n):
        if a[i]>max_v:
            max_v=a[i]
    return max_v
v=[17,92,18,33,58,7,33,42]
print(find_max(v))

92

In [8]:
def find_max_idx(a):
    n=len(a)
    max_idx=0
    for i in range(1,n):
        if a[i]>a[max_idx]:
            max_idx=i
    return max_idx
v=[17,92,18,33,58,7,33,42]
print(find_max_idx(v))

1

In [9]:
def find_min(a):
    n=len(a)
    min_v=a[0]
    for i in range(1,n):
        if a[i]<min_v:
            min_v=a[i]
    return min_v
v=[17,92,18,33,58,7,33,42]
print(find_min(v))

7

In [11]:
def find_min_idx(a):
    n=len(a)
    min_idx=0
    for i in range(1,n):
        if a[i]<a[min_idx]:
            min_idx=i
    return min_idx
v=[17,92,18,33,58,7,33,42]
print(find_min_idx(v))

5

In [12]:
s=set()
s.add(1)
s.add(2)
s.add(2)
print(s)
print(len(s))
print({1,2}=={2,1})

{1, 2}
2
True

In [13]:
def find_same_name(a):
    n=len(a)
    result=set()
    for i in range(0,n-1):
        for j in range(i+1,n):
            if a[i]==a[j]:
                result.add(a[i])
    return result
name=['김철수','박철수','홍수민','김철수','김철수']
print(find_same_name(name))
name2=['김미영','박수진','이민주','김미영','최숙희']
print(find_same_name(name2))

{'김철수'}
{'김미영'}

In [14]:
def print_pairs(a):
    n=len(a)
    for i in range(0,n-1):
        for j in range(i+1,n):
            if a[i] != a[j]:
                print(a[i],"-",a[j])
name=['김철수','박철수','홍수민','김철수','김철수']
print_pairs(name)
print()
name2=['김미영','박수진','이민주','김미영','최숙희']
print_pairs(name2)

김철수 - 박철수
김철수 - 홍수민
박철수 - 홍수민
박철수 - 김철수
박철수 - 김철수
홍수민 - 김철수
홍수민 - 김철수

김미영 - 박수진
김미영 - 이민주
김미영 - 최숙희
박수진 - 이민주
박수진 - 김미영
박수진 - 최숙희
이민주 - 김미영
이민주 - 최숙희
김미영 - 최숙희

In [15]:
def fact(n):
    f=1
    for i in range(1,n+1):
        f=f*i
    return f
print(fact(1))
print(fact(5))
print(fact(10))

1
120
3628800

In [16]:
def fact(n):
    if n <= 1:
        return 1
    return n*fact(n-1)
print(fact(1))
print(fact(5))
print(fact(10))

1
120
3628800

In [18]:
def sum_n(n):
    if n ==0:
        return 0
    return sum_n(n-1)+n
print(sum_n(10))
print(sum_n(100))
print(sum_n(1000))

55
5050
500500

In [19]:
def search_list(a,x):
    n=len(a)
    for i in range(0,n):
        if x == a[i]:
            return i
    return -1
v=[17,92,18,33,58,7,33,42]
print(search_list(v,18))
print(search_list(v,33))
print(search_list(v,900))

2
3
-1

In [20]:
def search_list(a,x):
    n=len(a)
    result=[]
    for i in range(0,n):
        if x == a[i]:
            result.append(i)
    return result
v=[17,92,18,33,58,7,33,42]
print(search_list(v,18))
print(search_list(v,33))
print(search_list(v,900))

[2]
[3, 6]
[]

In [21]:
def get_name(s_no,s_name,find_no):
    n=len(s_no)
    for i in range(0,n):
        if find_no == s_no[i]:
            return s_name[i]
    return "?"
nums=[39,14,67,105]
names=['김철수','최상호','이미영','한선영']
print(get_name(nums,names,67))
print(get_name(nums,names,70))

이미영
?

In [22]:
a=[2,3,5,7,9,1]
b=sorted(a)
print(a)
print(b)

[2, 3, 5, 7, 9, 1]
[1, 2, 3, 5, 7, 9]

In [23]:
b=a.sort()
print(a)
print(b)

[1, 2, 3, 5, 7, 9]
None

In [24]:
def bubble_sort(a):
    for i in range(0,len(a)):
        for j in range(i+1,len(a)):
            if a[i] > a[j]:
                a[i],a[j]=a[j],a[i]
            print(a)
    return a
d=[2,4,5,1,3]
print(bubble_sort(d))

[2, 4, 5, 1, 3]
[2, 4, 5, 1, 3]
[1, 4, 5, 2, 3]
[1, 4, 5, 2, 3]
[1, 4, 5, 2, 3]
[1, 2, 5, 4, 3]
[1, 2, 5, 4, 3]
[1, 2, 4, 5, 3]
[1, 2, 3, 5, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [25]:
def find_min_idx(a):
    n=len(a)
    min_idx=0
    for i in range(1,n):
        if a[i]< a[min_idx]:
            min_idx=i
    return min_idx
def sel_sort(a):
    result=[]
    while a:
        min_idx=find_min_idx(a)
        value=a.pop(min_idx)
        result.append(value)
    return result

d=[2,4,5,1,3]
print(sel_sort(d))

[1, 2, 3, 4, 5]

In [28]:
def sel_sort(a):
    n=len(a)
    for i in range(0,n-1):
        max_idx=i
        for j in range(i+1,n):
            if a[j]>a[max_idx]:
                max_idx=j
        a[i],a[max_idx]=a[max_idx],a[i]

d=[2,4,5,1,3]
sel_sort(d)
print(d)

[5, 4, 3, 2, 1]

In [32]:
def find_ins_idx(r,v):
    for i in range(0,len(r)):
        if v<r[i]:
            return i
    return len(r)
def ins_sort(a):
    result=[]
    while a:
        value=a.pop(0)
        ins_idx=find_ins_idx(result,value)
        print(ins_idx,value)
        result.insert(ins_idx,value)
    return result
d=[2,4,5,1,3]
print(ins_sort(d))

0 2
1 4
2 5
0 1
2 3
[1, 2, 3, 4, 5]

In [33]:
def quicksort(array):
    if len(array)<2:
        return array
    else:
        pivot=array[0]
        less=[i for i in array[1:]if i <= pivot]
        greater=[i for i in array[1:] if i > pivot]
        return quicksort(less)+[pivot]+quicksort(greater)

quicksort([-10,-15,2,3,0,9,11,16,1])

[-15, -10, 0, 1, 2, 3, 9, 11, 16]

In [34]:
def binary_search(a,x):
    start=0
    end=len(a)-1
    while start <= end:
        mid=(start+end)
        if x ==a[mid]:
            return mid,a[mid]
        elif x > a[mid]:
            start=mid+1
        else:
            end=mid-1
    return -1
d=[1,4,9,16,25,36,49,64,81]
print(binary_search(d,36))
print(binary_search(d,50))

(5, 36)
-1

In [35]:
def find_same_name(a):
    name_dict={}
    for name in a:
        if name in name_dict:
            name_dict[name]+=1
        else:
            name_dict[name]=1
    result=[]
    for name in name_dict:
        if name_dict[name]>=2:
            result.append(name)
    return result
name=["Tom","Jerry","Mike","Tom"]
print(find_same_name(name))
name2=["김철수","이혜진","송민호","이혜진","김철수"]
print(find_same_name(name2))

['Tom']
['김철수', '이혜진']