In [4]:
from sklearn import datasets
iris=datasets.load_iris()
print(iris['feature_names'])

['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

In [5]:
import numpy as np
import pandas as pd
df=pd.DataFrame(data=np.c_[iris.data,iris.target],columns= iris['feature_names']+['target'])
df['target']=df['target'].map({0:'setosa',1:'versicolor',2:'virginica'})
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [6]:
df.to_csv('c:/data/iris/iris.csv')

In [7]:
x=df.iloc[:,:-1]
y=df.iloc[:,[-1]]
print(x[:5])
print(y[:5])
print(x.shape)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2
   target
0  setosa
1  setosa
2  setosa
3  setosa
4  setosa
(150, 4)

In [8]:
arr=x.mean()
arr

sepal length (cm)    5.843333
sepal width (cm)     3.057333
petal length (cm)    3.758000
petal width (cm)     1.199333
dtype: float64

In [9]:
import numpy as np
np.savetxt("c:/data/iris/avg.csv",arr,fmt="%.1f",delimiter=",")

In [10]:
from sqlalchemy import create_engine
import pymysql

pymysql.install_as_MySQLdb()
engine=create_engine("mysql+mysqldb://web:1234@localhost/myweb",encoding='utf8')
df.columns=['sepal_length','sepal_width','petal_length','petal_width','target']
conn=engine.connect()
df.to_sql(name="iris", con=engine, if_exists='replace',index=False)