In [5]:
import pandas as pd
import numpy as np

df1=pd.read_csv("c:/data/ontime/2006.csv",sep=",")
df2=pd.read_csv("c:/data/ontime/2007.csv",sep=",")
df3=pd.read_csv("c:/data/ontime/2008.csv",sep=",")
df1=df1.append(df2)
df1=df1.append(df3)

In [6]:
df1.shape

(21604865, 29)

In [7]:
df1.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [8]:
df2=df1[["Year","Month","ArrDelay","DepDelay"]]

In [9]:
df2.head()

   Year  Month  ArrDelay  DepDelay
0  2006      1       6.0      -2.0
1  2006      1      -5.0       0.0
2  2006      1     -23.0       0.0
3  2006      1      -8.0      -2.0
4  2006      1       0.0      -8.0

In [10]:
df2.tail()

         Year  Month  ArrDelay  DepDelay
7009723  2008     12      14.0       3.0
7009724  2008     12      -2.0      -1.0
7009725  2008     12       0.0      -5.0
7009726  2008     12       9.0      11.0
7009727  2008     12      -5.0       7.0

In [9]:
df2.shape

(21604865, 4)

In [11]:
df2=df2.dropna(how="any")

In [12]:
df2.shape
result=df2.groupby(["Year","Month"], as_index=False).count()
result.head()

   Year  Month  ArrDelay  DepDelay
0  2006      1    570130    570130
1  2006      2    518645    518645
2  2006      3    596578    596578
3  2006      4    577718    577718
4  2006      5    594626    594626

In [13]:
result.to_csv('c:/data/ontime/result.csv',sep=",")

In [14]:
from sqlalchemy import create_engine
import pymysql

In [15]:
pymysql.install_as_MySQLdb()

In [16]:
engine=create_engine("mysql+mysqldb://web:1234@localhost/myweb",encoding='utf8')

In [17]:
conn=engine.connect()
result.to_sql(name="ontime_result", con=engine, if_exists='replace',index=False)