In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

df=pd.read_csv("c:/data/house_regress/data.csv")
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0

In [3]:
df.shape

(19740, 21)

In [4]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [5]:
X= df.loc[ : , ['Rooms', 'Distance', 'Bedroom2','Bathroom', 'Car', 'Landsize', 
'BuildingArea','Propertycount']]
y = df["Price"]
df2=pd.concat([X,y],axis=1)

from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy="mean")
df3=pd.DataFrame(imputer.fit_transform(df2), columns=df2.columns)
df3

,Rooms,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Propertycount,Price
0,2.0,2.5,2.0,1.0,1.0,126.00000,196.806973,4019.0,1.054957e+06
1,2.0,2.5,2.0,1.0,1.0,202.00000,196.806973,4019.0,1.480000e+06
2,2.0,2.5,2.0,1.0,0.0,156.00000,79.000000,4019.0,1.035000e+06
3,3.0,2.5,3.0,2.0,1.0,0.00000,196.806973,4019.0,1.054957e+06
4,3.0,2.5,3.0,2.0,0.0,134.00000,150.000000,4019.0,1.465000e+06
...,...,...,...,...,...,...,...,...,...
19735,2.0,4.6,3.0,1.0,1.0,583.91709,585.000000,4380.0,5.600000e+05
19736,3.0,25.5,3.0,2.0,2.0,583.91709,333.000000,2940.0,5.253000e+05
19737,2.0,6.3,3.0,2.0,2.0,1999.00000,199.000000,6543.0,7.500000e+05
19738,6.0,6.3,3.0,2.0,1.0,2011.00000,238.000000,6543.0,2.450000e+06
19739,3.0,6.3,2.0,1.0,1.0,1980.00000,0.000000,6543.0,6.450000e+05

In [7]:
cols=df3.columns[:-1]
X=df3[cols]
y=df3['Price']

In [8]:
import statsmodels.api as sm

model=sm.OLS(y,X)
result=model.fit()

print("회귀계수\n",result.params)
print("R-squared\n",result.rsquared)
print("P values\n",result.pvalues)

print(result.summary())

회귀계수
 Rooms            294371.005153
Distance         -23496.988924
Bedroom2           9619.034190
Bathroom         153450.013874
Car               45814.483818
Landsize              0.670134
BuildingArea         19.118400
Propertycount         7.495786
dtype: float64
R-squared
 0.8320357616277432
P values
 Rooms             0.000000e+00
Distance         3.070252e-284
Bedroom2          1.150098e-01
Bathroom         1.468789e-106
Car               2.508850e-24
Landsize          5.287350e-01
BuildingArea      4.347287e-02
Propertycount     8.631029e-27
dtype: float64
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  Price   R-squared (uncentered):                   0.832
Model:                            OLS   Adj. R-squared (uncentered):              0.832
Method:                 Least Squares   F-statistic:                          1.222e+04
Date:                Mon, 06 Dec 2021   Prob (F-statistic):                        0.00
Time:                        11:14:17   Log-Likelihood:                     -2.8670e+05
No. Observations:               19740   AIC:                                  5.734e+05
Df Residuals:                   19732   BIC:                                  5.735e+05
Df Model:                           8
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Rooms          2.944e+05   5116.944     57.529      0.000    2.84e+05    3.04e+05
Distance       -2.35e+04    641.486    -36.629      0.000   -2.48e+04   -2.22e+04
Bedroom2       9619.0342   6102.909      1.576      0.115   -2343.181    2.16e+04
Bathroom       1.535e+05   6955.878     22.060      0.000     1.4e+05    1.67e+05
Car            4.581e+04   4495.752     10.191      0.000     3.7e+04    5.46e+04
Landsize          0.6701      1.064      0.630      0.529      -1.415       2.755
BuildingArea     19.1184      9.468      2.019      0.043       0.560      37.676
Propertycount     7.4958      0.699     10.731      0.000       6.127       8.865
==============================================================================
Omnibus:                    10727.056   Durbin-Watson:                   1.653
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           199988.120
Skew:                           2.207   Prob(JB):                         0.00
Kurtosis:                      17.955   Cond. No.                     2.02e+04
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 2.02e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [15]:
X= df3.loc[ : , ['Rooms', 'Price','Car','Distance','Bedroom2', 'Bathroom', 
'BuildingArea', 'Propertycount']]
y = df3["Price"]

In [16]:
model=sm.OLS(y, X)
result=model.fit()

print("회귀계수\n",result.params)
print("R-squared\n",result.rsquared)
print("P values\n",result.pvalues)

print(result.summary())

회귀계수
 Rooms           -5.547918e-11
Price            1.000000e+00
Car             -4.365575e-11
Distance         2.182787e-11
Bedroom2         4.001777e-11
Bathroom         3.637979e-11
BuildingArea    -1.847411e-13
Propertycount   -1.332268e-14
dtype: float64
R-squared
 1.0
P values
 Rooms             2.131120e-16
Price             0.000000e+00
Car               2.194294e-15
Distance         1.151254e-157
Bedroom2          7.838415e-08
Bathroom          2.299458e-05
BuildingArea      3.544848e-57
Propertycount     1.932001e-54
dtype: float64
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  Price   R-squared (uncentered):                   1.000
Model:                            OLS   Adj. R-squared (uncentered):              1.000
Method:                 Least Squares   F-statistic:                          9.860e+33
Date:                Mon, 06 Dec 2021   Prob (F-statistic):                        0.00
Time:                        11:18:21   Log-Likelihood:                      3.9116e+05
No. Observations:               19740   AIC:                                 -7.823e+05
Df Residuals:                   19732   BIC:                                 -7.822e+05
Df Model:                           8
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Rooms         -5.548e-11   6.75e-12     -8.222      0.000   -6.87e-11   -4.23e-11
Price             1.0000   8.69e-18   1.15e+17      0.000       1.000       1.000
Car           -4.366e-11    5.5e-12     -7.936      0.000   -5.44e-11   -3.29e-11
Distance       2.183e-11   8.09e-13     26.997      0.000    2.02e-11    2.34e-11
Bedroom2       4.002e-11   7.45e-12      5.373      0.000    2.54e-11    5.46e-11
Bathroom       3.638e-11   8.59e-12      4.235      0.000    1.95e-11    5.32e-11
BuildingArea  -1.847e-13   1.16e-14    -15.988      0.000   -2.07e-13   -1.62e-13
Propertycount -1.332e-14   8.55e-16    -15.585      0.000    -1.5e-14   -1.16e-14
==============================================================================
Omnibus:                     5311.694   Durbin-Watson:                   0.363
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           451234.627
Skew:                          -0.247   Prob(JB):                         0.00
Kurtosis:                      26.417   Cond. No.                     2.81e+06
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 2.81e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2,random_state=10)
model=LinearRegression().fit(X_train,y_train)

In [18]:
print("학습용 :",model.score(X_train, y_train)) 
print("검증용 :",model.score(X_test, y_test))

학습용 : 1.0
검증용 : 1.0