In [2]:
docs=[
    'python데이터',
    '데이터 분석',
    '빅 데이터 분석',
    '데이터 전처리'
]
vocab=list()
for doc in docs:
    for w in doc.split():
        vocab.append(w)
vocab=list(set(vocab))
vocab.sort()
vocab

['python데이터', '데이터', '분석', '빅', '전처리']

In [3]:
from math import log
N=len(docs)

def tf(t,d):
    return d.count(t)
def idf(t):
    df=0
    for doc in docs:
        df+= t in doc
    return log(N/(df+1))
def tfidf(t,d):
    return tf(t,d)* idf(t)

In [4]:
import pandas as pd
result=[]
for i in range(N):
    result.append([])
    d=docs[i]
    for j in range(len(vocab)):
        t=vocab[j]
        result[-1].append(tf(t,d))
print(result)
df_tf=pd.DataFrame(result,columns=vocab)
df_tf

[[1, 1, 0, 0, 0], [0, 1, 1, 0, 0], [0, 1, 1, 1, 0], [0, 1, 0, 0, 1]]

   python데이터  데이터  분석  빅  전처리
0          1    1   0  0    0
1          0    1   1  0    0
2          0    1   1  1    0
3          0    1   0  0    1

In [5]:
result=[]
for j in range(len(vocab)):
    t=vocab[j]
    result.append(idf(t))
df_idf=pd.DataFrame(result,index=vocab, columns=["IDF"])
df_idf

                IDF
python데이터  0.693147
데이터       -0.223144
분석         0.287682
빅          0.693147
전처리        0.693147

In [6]:
result=[]
for i in range(N):
    result.append([])
    d=docs[i]
    for j in range(len(vocab)):
        t=vocab[j]
        result[-1].append(tfidf(t,d))
df_tfidf=pd.DataFrame(result,columns=vocab)
df_tfidf

   python데이터       데이터        분석         빅       전처리
0   0.693147 -0.223144  0.000000  0.000000  0.000000
1   0.000000 -0.223144  0.287682  0.000000  0.000000
2   0.000000 -0.223144  0.287682  0.693147  0.000000
3   0.000000 -0.223144  0.000000  0.000000  0.693147

In [7]:
from sklearn.feature_extraction.text import CountVectorizer
corpus = [
'you know I want your love',
'I like you',
'what should I do ',
]
vector=CountVectorizer()
print(vector.fit_transform(corpus).toarray())
print(vector.vocabulary_)

[[0 1 0 1 0 1 0 1 1]
 [0 0 1 0 0 0 0 1 0]
 [1 0 0 0 1 0 1 0 0]]
{'you': 7, 'know': 1, 'want': 5, 'your': 8, 'love': 3, 'like': 2, 'what': 6, 'should': 4, 'do': 0}

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer
corpus=[
    'python데이터',
    '데이터 분석',
    '빅 데이터 분석',
    '데이터 전처리'
]
tfidfv=TfidfVectorizer().fit(corpus)
print(tfidfv.transform(corpus).toarray())
print(tfidfv.vocabulary_)

[[1.         0.         0.         0.        ]
 [0.         0.62922751 0.77722116 0.        ]
 [0.         0.62922751 0.77722116 0.        ]
 [0.         0.53802897 0.         0.84292635]]
{'python데이터': 0, '데이터': 1, '분석': 2, '전처리': 3}