In [1]:
import numpy as np
def dist(x,y):
    return np.sqrt(np.sum((x-y)**2))
doc0=np.array((1,1,0,1))
doc1=np.array((2,3,0,1))
doc2=np.array((1,2,3,1))
print(dist(doc0,doc1))
print(dist(doc1,doc2))

2.23606797749979
3.3166247903554

In [4]:
doc1="python 파이썬 데이터"
doc2="빅데이터 python 파이썬"
tokenized_doc1=doc1.split()
tokenized_doc2=doc2.split()
print(tokenized_doc1)
print(tokenized_doc2)

['python', '파이썬', '데이터']
['빅데이터', 'python', '파이썬']

In [5]:
union=set(tokenized_doc1).union(set(tokenized_doc2))
union

{'python', '데이터', '빅데이터', '파이썬'}

In [6]:
intersection= set(tokenized_doc1).intersection(set(tokenized_doc2))
intersection

{'python', '파이썬'}

In [7]:
from numpy import dot

a=[0,1,1]
b=[1,0,2]
dot(a,b)

2

In [8]:
from math import sqrt
from numpy.linalg import norm
a=[0,1,1]
b=[1,0,2]
print(norm(a))
print(sqrt(2))
print(norm(b))
print(sqrt(5))
print(norm(a)*norm(b))

1.4142135623730951
1.4142135623730951
2.23606797749979
2.23606797749979
3.1622776601683795

In [9]:
print(dot(a,b) / (norm(a)*norm(b)))

0.6324555320336759

In [10]:
def cos_sim (A,B):
    return dot(A,B)/(norm(A)*norm(B))

In [11]:
doc1=np.array([0,1,1,1])
doc2=np.array([1,0,1,1])
doc3=np.array([2,0,2,3])
doc4=np.array([0,2,2,2])

print(cos_sim(doc1,doc2))
print(cos_sim(doc1,doc3))
print(cos_sim(doc2,doc3))
print(cos_sim(doc1,doc4))

0.6666666666666667
0.7001400420140049
0.9801960588196069
1.0000000000000002

In [12]:
import pandas as pd
df=pd.read_csv('c:/data/movies/movies_metadata.csv',low_memory=False)
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [13]:
df=df.head(10000)

In [14]:
df['overview'].isnull().sum()

29

In [15]:
df['overview'] = df['overview'].fillna('')

In [16]:
df['overview'].isnull().sum()

0

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(df['overview'])
print(tfidf_matrix.shape)

(10000, 32350)

In [18]:
from sklearn.metrics.pairwise import linear_kernel
cosine_sim=linear_kernel(tfidf_matrix,tfidf_matrix)

In [19]:
linear_kernel([[1,2],[1,2]])

array([[5., 5.],
       [5., 5.]])

In [20]:
indices=pd.Series(df.index,index=df['title']).drop_duplicates()
print(indices.head())

title
Toy Story                      0
Jumanji                        1
Grumpier Old Men               2
Waiting to Exhale              3
Father of the Bride Part II    4
dtype: int64

In [21]:
idx = indices['Toy Story']
idx

0

In [22]:
def get_recommendations(title, cosine_sim=cosine_sim):
    idx=indices[title]
    sim_scores=list(enumerate(cosine_sim[idx]))
    sim_scores=sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores=sim_scores[1:11]
    movie_indices=[i[0] for i in sim_scores]
    return df['title'].iloc[movie_indices]

In [23]:
get_recommendations('Toy Story')

2997                                    Toy Story 2
8327                                      The Champ
1071                          Rebel Without a Cause
3057                                Man on the Moon
1932                                      Condorman
485                                          Malice
5797                                  Class of 1984
7254                                 Africa Screams
6944                               Rivers and Tides
7615    The First $20 Million Is Always the Hardest
Name: title, dtype: object