In [40]:
import pandas as pd
df=pd.read_csv("c:/data/traffic/data.csv",encoding='ms949')
ind=df[df['12월']<1000000].index
df2=df.drop(ind)
df2.to_csv('c:/data/traffic/data2.csv',sep=",")

   호선  역번호 역      명       1월       2월       3월       4월       5월       6월  \
0   1  150   서울역(1)  2823972  2542481  2885932  2918104  2993718  2770656
1   1  151    시청(1)  1367861  1114504  1380702  1432476  1460584  1334755
2   1  152       종각  2529090  2098588  2445715  2433679  2496189  2269648
3   1  153  종로3가(1)  1729440  1465221  1692299  1638929  1734230  1600924
4   1  154     종로5가  1532069  1303823  1558679  1532793  1571939  1423812

        7월       8월       9월      10월      11월      12월
0  2864737  2846034  2697337  3014329  2938518  2966572
1  1387544  1388799  1280751  1638603  1479755  1520977
2  2510207  2422735  2174837  2569880  2425745  2647462
3  1692896  1602159  1486142  1714340  1602420  1713761
4  1456749  1411143  1343594  1576796  1506778  1572464

In [42]:
print(df2.head())

   호선  역번호 역      명       1월       2월       3월       4월       5월       6월  \
0   1  150   서울역(1)  2823972  2542481  2885932  2918104  2993718  2770656
1   1  151    시청(1)  1367861  1114504  1380702  1432476  1460584  1334755
2   1  152       종각  2529090  2098588  2445715  2433679  2496189  2269648
3   1  153  종로3가(1)  1729440  1465221  1692299  1638929  1734230  1600924
4   1  154     종로5가  1532069  1303823  1558679  1532793  1571939  1423812

        7월       8월       9월      10월      11월      12월
0  2864737  2846034  2697337  3014329  2938518  2966572
1  1387544  1388799  1280751  1638603  1479755  1520977
2  2510207  2422735  2174837  2569880  2425745  2647462
3  1692896  1602159  1486142  1714340  1602420  1713761
4  1456749  1411143  1343594  1576796  1506778  1572464

In [44]:
import csv
import MySQLdb

input_file='c:/data/traffic/data2.csv'
conn=MySQLdb.connect(host='localhost', port=3306, db='test', user='web', passwd='1234',charset='utf8')
cursor=conn.cursor()
sql="delete from traffic"
cursor.execute(sql)
conn.commit()
file_reader=csv.reader(open(input_file,'r'),delimiter=',')
header = next(file_reader)
for row in file_reader:
    data=[]
    for idx in range(len(header)):
        data.append(row[idx])
    print(data)
    cursor.execute('INSERT INTO traffic VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)',data)
conn.commit()
cursor.execute("SELECT * FROM traffic")
rows=cursor.fetchall()
for row in rows:
    output = []
    for idx in range(len(row)):
        output.append(str(row[idx]))
    print(output)

UnicodeDecodeError: 'cp949' codec can't decode byte 0xed in position 1: illegal multibyte sequence

In [32]:
cursor.execute("UPDATE traffic SET 12월=NULL WHERE '12월' < 1000000")
cursor.execute("DELETE FROM traffic WHERE'12월'=NULL")
rows=cursor.fetchall()
for row in rows:
    output = []
    for idx in range(len(row)):
        output.append(str(row[idx]))
    print(output)

OperationalError: (1292, "Truncated incorrect DOUBLE value: '12월'")