In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
from matplotlib import font_manager, rc

font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)
df = pd.read_csv("c:/data/iris/iris.csv")
print(df.head())

   SepalLength  SepalWidth  PetalLength  PetalWidth    Name  Species
0          5.1         3.5          1.4         0.2  setosa        0
1          4.9         3.0          1.4         0.2  setosa        0
2          4.7         3.2          1.3         0.2  setosa        0
3          4.6         3.1          1.5         0.2  setosa        0
4          5.0         3.6          1.4         0.2  setosa        0

In [16]:
df.columns

Index(['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Name',
       'Species'],
      dtype='object')

In [17]:
df.shape

(150, 6)

In [18]:
df.describe()

       SepalLength  SepalWidth  PetalLength  PetalWidth     Species
count   150.000000  150.000000   150.000000  150.000000  150.000000
mean      5.843333    3.054000     3.758667    1.198667    1.000000
std       0.828066    0.433594     1.764420    0.763161    0.819232
min       4.300000    2.000000     1.000000    0.100000    0.000000
25%       5.100000    2.800000     1.600000    0.300000    0.000000
50%       5.800000    3.000000     4.350000    1.300000    1.000000
75%       6.400000    3.300000     5.100000    1.800000    2.000000
max       7.900000    4.400000     6.900000    2.500000    2.000000

In [19]:
df["Name"].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [20]:
lo=df[df["Name"]=='versicolor'].index

In [24]:
df2=df.drop(lo)

In [25]:
df2

     SepalLength  SepalWidth  PetalLength  PetalWidth       Name  Species
0            5.1         3.5          1.4         0.2     setosa        0
1            4.9         3.0          1.4         0.2     setosa        0
2            4.7         3.2          1.3         0.2     setosa        0
3            4.6         3.1          1.5         0.2     setosa        0
4            5.0         3.6          1.4         0.2     setosa        0
..           ...         ...          ...         ...        ...      ...
145          6.7         3.0          5.2         2.3  virginica        2
146          6.3         2.5          5.0         1.9  virginica        2
147          6.5         3.0          5.2         2.0  virginica        2
148          6.2         3.4          5.4         2.3  virginica        2
149          5.9         3.0          5.1         1.8  virginica        2

[100 rows x 6 columns]

In [31]:
cols=['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth']
X = df2[cols]
y = df2['Name']
y.value_counts()

virginica    50
setosa       50
Name: Name, dtype: int64

In [27]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
X_train, X_test, y_train, y_test = train_test_split(X, y,
test_size=0.2, random_state=0)
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [28]:
print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

1.0
1.0

In [29]:
from sklearn.metrics import confusion_matrix
pred=model.predict(X_test)
cm=confusion_matrix(y_test, pred)
cm

array([[10,  0],
       [ 0, 10]], dtype=int64)